.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}



  .th{
    border: 3px solid rgb(247, 0, 255);
    padding: 5px;
  }

/* Tablet and Smaller Desktop */

